<!-- Show list of Global Recipes -->

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 mt-4">
        <% globals.forEach(global => { %>
          <div class="col-6 mb-4">
              <div class="card">
                <img src=<%= global.image %> class="card-img-top" alt=<%= global.name%> />
                <div class="card-body">
                  <h5 class="card-title">
                      <a href="/global/show/<%= global._id %>"><%= global.name %></a></h5>
                  </br><h6>By: <%= global.createdBy.name %></h6>
                </div>
              </div>
       <% }); %>
      </div>
    </div>
  </div>
  