<!-- Show list of Quick Recipes -->

<div class="container">
  <div class="row mb-2 mt-4">
      <% quicks.forEach(quick => { %>
        <div class="col-6 mb-4">
            <div class="card">
              <img src=<%= quick.image %> class="card-img-top" alt=<%= quick.name%> />
              <div class="card-body">
                <h5 class="card-title">
                    <a href="/quick/show/<%= quick._id %>"><%= quick.name %></a></h5>
                </br><h6>Created By: <%= quick.createdBy.name %></h6>
              </div>
            </div>
        </div>
     <% }); %>
  </div>
</div>
