<!-- Show per page of Quick Recipes -->

<div class="container">
  <div class="row mt-4 mb-1">
    <h3><%= quick.name %></h3>
  </div>

  <div class="row">
    <div class="col-5">
      <div class="row">
        <!-- get image from quick & use cloudinary URL -->
        <img
          src="<%= quick.image %>"
          style="width: 400px; height: 400px; object-fit: cover;" class="mb-4"
        />
        <div>
            <h6>Yield:</h6>
            <p class="mb-3"><%= quick.yield %></p>

            <h6>Created by: <%= quick.createdBy.name %></h6>
        </div>
      </div>
      
    </div>

    <div class="col-7">

      <div class="row">
        <div class="col">
            <h6>Ingredients:</h6><ul>
          <% quick.ingredients.forEach(ingredient => { %>
          <li>
            <%= ingredient %>
          </li>
          <% }); %></ul>
        </div>

        <div class="col">
            <h6>Instructions:</h6><ol>
          <% quick.instructions.forEach(instruction => { %>
          <li>
            <%= instruction %>
          </li>
          <% }); %></ol>
        </div>
      </div>

    </div>

  </div>

  <div class="row mt-2">
    <a href="/quick/index" class="btn btn-lg btn-light"
      >Back to Quick & Simple Recipes</a>
  </div>
</div>
